<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ carta?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (carta) {
    <div class="card-container">
      <!-- Opciones (tres puntos) -->
      <div class="options-button" (click)="mostrarOpciones($event)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </div>

      <img [src]="carta.image_uris?.normal" alt="{{ carta.name }}">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ carta.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ carta.oracle_text }}</p>
          @if (carta.prices?.eur) {
            <p class="price">Precio: {{ carta.prices.eur }} €</p>
          } @else {
            <p class="price">Precio no disponible</p>
          }
        </ion-card-content>
      </ion-card>
    </div>
  }
</ion-content>
