/* Archivo home.page.scss */

.container {
  max-width: 600px; /* Limita el ancho máximo del contenedor */
  margin: 0 auto;   /* Centra el contenedor horizontalmente */
  padding: 16px;    /* Añade un poco de espacio interno */
}

.search-container {
  margin-top: 20px; /* Espacio entre el título y el buscador */
}

ion-item {
  margin-bottom: 16px; /* Espacio entre el campo de búsqueda y el botón */
  border-radius: 8px;
}

ion-icon {
  margin-right: 12px;
}

ion-button {
  margin-top: 16px; /* Espacio entre el botón y los resultados */
}

/* Añade esto a home.page.scss */
ion-list ion-item {
  cursor: pointer; /* Cambia el cursor a puntero */
}

.card-preview {
  position: fixed;
  z-index: 1000;
  border-radius: 8px;
  padding: 5px;
  pointer-events: none; /* Para que no interfiera con clicks */

  img {
    border-radius: 4px;
    width: 200px;
    height: auto;
  }

}

